.box {
    border-style: solid;
    border-width: 5px;
  }

  

  #main-container{
    height: 100vh
  }

  #green{
    border-color: greenyellow;
    margin: 5px;
  }
  #red{
    border-color: red;
  }
  #blue{
    border-color: blue;
    position: relative;
  }
  #purple{
    border-color: #c83697;
    width: 95%;
    margin: 10px 10px 0 10px;
  }
  #yellow{
    border-color: yellow;
    height: 40vh;
    width: 95%;
    margin: 10px;
  }
  #space-box{
    justify-content: space-evenly;
  }
  #green-content{
    padding: 50px;
  }
  #form-content{
    margin: 10px 100px 100px
  }